body {
    
    background: linear-gradient(90deg, #d1f8ef 0%, #9bf3de 35%, #21b391) 100%;
}


/*Page index bienvenu*/

.desc{
    color:black
}

h1{
    display: flex;
    color:rgb(255, 255, 255);
    justify-content: center;
    
}
.titre{
    display: flex;
    color:rgb(255, 255, 255);
    justify-content: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
/*IMAGE*/
.img{
   width: 100%;
}
p{
    color: rgb(3, 3, 3);
    text-align: center;
}


.form-control{
    background-color: transparent;
    border: 2px solid white;
border-radius: .45rem;

}

label{
    color:rgb(7, 7, 7);
}

/*Redirection*/
.autre{
    display: flex;
    flex-direction: center;
    flex-direction: column;
    height: 200px;
    width: auto;
  position: relative;
  border: 2px solid white; 
  align-items: center;
}
.bout_href{
    display: flex;
    flex-direction: column;
    text-align: center;
    color: black;
    }

/*Button*/
.btn-info{
    border: 1px solid #fcfbfa;
    background-color:#8be7d2;
    color:black;
}
.btn-dark{
    margin-top: 5%;
    border: 1px solid white;
    background-color:#21b391;
}
/*Hover btn*/
.btn-info:hover {
    color: rgb(8, 8, 8);
    background-color: #3ec4a4;
    border-color: #fdfdfd;
}

.btn-dark:hover {
   color: rgb(10, 10, 10);
   background-color: #8be7d2;
   border-color: white;
}
h2{
    color: rgb(15, 15, 15);
}
.choix{
    color: rgb(8, 8, 8);
}